* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(gahag-0078741247.png);
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.8);
  background-size: contain;
}

header {
  width: 100%;
  height: 150px;
  background-color: red;
}

@media screen and (max-width: 479px) {
  header {
    width: 100%;
    height: auto;
    background-color: red;
  }
}

.catch {
  font-size: 2em;
  background-color: rgb(252, 236, 13);
  color: brown;
  font-weight: bold;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .catch {
    font-size: 2em;
    background-color: rgb(252, 236, 13);
    color: brown;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
  }
}

.number {
  font-size: 2em;
  color: brown;
  font-weight: bold;
}

@media screen and (max-width: 479px) {
  .number {
    display: none;
    color: blue;
  }
}

.header-top {
  width: 100%;
  height: 60px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

.header_under {
  display: flex;
}

@media screen and (max-width: 479px) {
  .header_under {
    display: none;
  }
}

.nav-list_header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 24px 0;
  margin: 0 auto;
  font-size: 2em;
}

@media screen and (max-width: 479px) {
  .nav-list_header {
    width: 100vh;
  }
}

.nav-list {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 26px 0;
  margin: 0 auto;
  font-size: 2em;
}

@media screen and (max-width: 479px) {
  .nav-list {
    flex-flow: column;
    height: auto;
    font-size: 1em;
  }
  
}


.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 50px;
}

.top_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 479px) {
  .top_img {
    height: auto;
  }
}

.main-visual {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 479px) {
  .main-visual {
    height: auto;
  }
}

.main {
  width: 80%;
  height: 3000px;
  /* background-color: green; */
  margin-left: auto;
  margin-right: auto;
}

#inko {
  width: 80%;
  height: 300px;
  background-color: red;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.inko_title {
  text-align: center;
  padding: 1rem 0;
}

.inko_box {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 479px) {
  .inko_box {
    display: block;
  }
}

.inko_content {
  width: 25%;
  margin: 3rem 0;
  margin-bottom: 6rem;
}

@media screen and (max-width: 479px) {
  .inko_content {
    width: 100%;
    margin: 3rem auto;
  }
}

.inko_img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#okame {
  width: 100%;
  height: 630px;
  background-color: blue;
  margin-top: 50px;
}

@media screen and (max-width: 479px) {
  #okame {
    width: 100%;
    height: auto;
    background-color: blue;
    margin-top: 50px;
  }
}

.okame_title {
  text-align: center;
  padding: 1rem 0;
}

.okame_contents {
  display: flex;
  flex-direction: column;
}

.okame_white {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

@media screen and (max-width: 479px) {
  .okame_white {
    margin-bottom: 30px;
  }
}

.okame_white_img {
  width: 40%;
}

.okame_white_text {
  width: 50%;
  margin: 0 auto;
}

.okame_black {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

@media screen and (max-width: 479px) {
  .okame_black {
    display: block;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 40%;
  }
}

.okame_black_movie {
  margin-left: 400px;
}

@media screen and (max-width: 479px) {

  .okame_black_text {
    position: relative;
    top: 15rem;
  }


  .okame_black_movie {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-left: 0;
  }

  .okame_black_movie iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#kakapo {
  width: 100%;
  height: auto;
  background-color: red;
  margin-top: 50px;
}

.kakapo_title {
  text-align: center;
  padding: 1rem 0;
}

.kakapo_contents {
  width: 60vw;
  margin: 0 auto;
  word-break: break-all;
}

.kakapo_img {
  float: left;
  width: 40%;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 479px) {
  .kakapo_contents {
    width: 100%;
    margin: 0 auto;
    word-break: break-all;
  }
  .kakapo_img {
    float: left;
    width: 40%;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .kakapo_text {
    font-size: 10px;
  }
}

#infomation {
  width: 100%;
  height: 300px;
  background-color: blue;
  margin-top: 50px;
}

.info_title {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.text_inside {
  text-align: center;
  margin-top: 10px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    aqua,
    blue,
    purple
  );
}

#access {
  width: 100%;
  height: 600px;
  /* background-color: red; */
  margin-top: 50px;
}

.access_title {
  text-align: center;
  padding: 1rem 0;
}

.access_contents {
  display: flex;
  justify-content: space-around;
}

.access_text {
  margin: auto;
}

@media screen and (max-width: 479px) {

  #access {
    
  }
  .access_text {
    margin: auto;
    font-size: 13px;
    position: relative;
    top: 217px;
  }
}

@media screen and (max-width: 479px) {
  .access_contents {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    /* overflow: hidden; */
    margin-left: 0;
    display: block;
  }

  .access_contents iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.form {
  position: absolute;
  width: 80%;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .form {
    display: none;
  }
}



input {
  width: 300px;
  text-align: center;
}

.form_contents {
  text-align: center;
}

/* #inquiry_form {
  width: 100%;
  height: 300px;
  background-color: blue;
  position: absolute;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
} */

footer {
  width: 100%;
  height: 120px;
  background-color: blueviolet;
  display: flex;
}

@media screen and (max-width: 479px) {
  footer {
    margin-top: 33%;
  }
}rgb(40, 38, 43)


.site_logo {
}

/* .catch {
  font-family: "RocknRoll One", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 50rem;
} */
